<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MOD_MetaDatabase_BranchEntities" connectionString="metadata=res://*/MetaDatabase.csdl|res://*/MetaDatabase.ssdl|res://*/MetaDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_Meta_Branch;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fz_basicEntities" connectionString="metadata=res://*/fz_basic.csdl|res://*/fz_basic.ssdl|res://*/fz_basic.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=fz_wisbasic;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MOD_Resource_BranchEntities" connectionString="metadata=res://*/MODResource.csdl|res://*/MODResource.ssdl|res://*/MODResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_Resource_Branch;persist security info=True;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MOD_kingfiles_ZYC_BranchEntities" connectionString="metadata=res://*/FilesModel.csdl|res://*/FilesModel.ssdl|res://*/FilesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_kingfiles_ZYC_Branch;persist security info=True;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <add name="MOD_MetaDatabase_BranchEntities" connectionString="metadata=res://*/MetaDatabase.csdl|res://*/MetaDatabase.ssdl|res://*/MetaDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.105;initial catalog=MOD_MetaDatabase;user id=sa;password=svse;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MOD_Resource_BranchEntities" connectionString="metadata=res://*/MODResource.csdl|res://*/MODResource.ssdl|res://*/MODResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.105;initial catalog=MOD_ResourceLibrary;persist security info=True;user id=sa;password=svse;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MOD_kingfiles_ZYC_BranchEntities" connectionString="metadata=res://*/FilesModel.csdl|res://*/FilesModel.ssdl|res://*/FilesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.105;initial catalog=MOD_KingsunFiles;persist security info=True;user id=sa;password=svse;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>
  <appSettings>
    <!--电子书资源存放位置-->
    <add key="ResourceUrl" value="E:\text" />
    <!--资源文件存放目录-->
    <add key="OtherUrl" value="E:\text" />
    <!--缩略图存放位置-->
    <add key="ImgUrl" value="E:\text" />
  </appSettings>
</configuration>